.buttonWrapper {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
}

.navButton {
    font-family: "earthling" !important;
    font-size: 20px !important;
    font-weight: bold !important;
    margin: 10px !important;
    color: black !important;
    border: 2px solid rgba(255,255,255, 0.5)!important;
    background-color: rgba(255,255,255, 0.8) !important;
    width:220px;
    border-radius: 20px!important;
    position:absolute;
    top: 70% !important;
}

button:hover {
    cursor: pointer;
}