.bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    min-height: 100; 
    background-color: "rgba(255,255,255, 0.5)";
}

button {
    height:50px;
    width:10%; 
    background-color:rgba(255,255,255, 0.5);
}

button:hover {
    cursor: pointer;
}